aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
aiosqlite==0.17.0
annotated-types==0.5.0
anyio==3.7.1
asgi-lifespan==2.1.0
asgiref==3.7.2
async-timeout==4.0.3
asyncpg==0.28.0
attrs==23.1.0
bcrypt==4.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
deprecation==2.1.0
docker==6.1.3
exceptiongroup==1.1.3
fastapi==0.103.2
fastapi-cache2==0.2.1
fonttools==4.45.0
frozenlist==1.4.0
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
idna==3.4
iniconfig==2.0.0
iso8601==1.1.0
joblib==1.3.2
kiwisolver==1.4.5
matplotlib==3.8.2
multidict==6.0.4
mutagen==1.47.0
numpy==1.26.2
packaging==23.1
paho-mqtt==1.6.1
pandas==2.1.3
pendulum==2.1.2
Pillow==10.1.0
pluggy==1.3.0
podman-compose==1.0.6
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
PyJWT==2.8.0
pyparsing==3.1.1
pypika-tortoise==0.1.6
pytest==7.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
pytzdata==2020.1
pywatchman==1.4.1
redis==4.6.0
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
testcontainers==3.7.1
threadpoolctl==3.2.0
tomli==2.0.1
tortoise-orm==0.20.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
uvicorn==0.15.0
uvloop==0.17.0
watchfiles==0.20.0
websocket-client==1.6.3
websockets==11.0.3
wrapt==1.15.0
yarl==1.9.2
